/*----------Basic Setup------------*/
:root{
    --main-color:#e67e22;
    --second-color:#af5404;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato',Arial,sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.clear-fix{
    zoom:1;
}
.clear-fix::after{
    content:".";
    clear:both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*----------Resuable Component------------*/
.row{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    padding:80px 0;
    overflow: auto;
}

.long-para{
    line-height:145%;
    width:70%;
    margin-left:15%;
    margin-bottom:30px;
}

.box{
    padding:1%;
    text-align: left;
}

.box p{
    font-size:90%;
    line-height: 145%;
}

.big-icon{
    font-size: 350%;
    display: block;
    margin-bottom: 10px;
    color:var(--main-color);
}
.fix{
    padding:85px;
}
/*----------Heading------------*/
h1,h2,h3{
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    margin-top:0;
    margin-bottom: 20px;
    color:#fff;
    font-size: 240%;
    word-spacing: 3px;
    letter-spacing: 1px;
}
h2{
    text-align: center;
    word-spacing: 2px;
    margin-bottom: 30px;
    font-size: 180%;
    letter-spacing: 1px;
}

h2::after{
    content:" ";
    display: block;
    width:100px;
    height:2px;
    background-color: var(--main-color);
    margin:0 auto;
    margin-top: 20px;
}

h3{
    font-size:110%;
    margin-bottom: 15px;
}
/*----------Button Section------------*/
.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    border-radius: 200px;
    font-weight: 300;
    text-decoration: none;
}

.btn:active,
.btn:hover{
    background-color: var(--second-color);
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.btn-full:link,
.btn-full:visited{
    color:white;
    background-color: var(--main-color);
    margin-right:15px;
}
.btn-full:active,
.btn-full:hover{
    border: 1px solid var(--second-color);
    background-color: var(--second-color);
}

.btn-ghost:link,
.btn-ghost:visited{
    color:#e67e22;
    border: 1px solid var(--main-color);
}
.btn-ghost:active,
.btn-ghost:hover{
    color:#fff;
    background-color: var(--second-color);
    border: 1px solid var(--second-color);
}


/*----------Header Section------------*/
header{
    background:linear-gradient(rgba(0,0,0,0.700),rgba(0,0,0,0.700)),url(img/hero.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.hero-text-box{
    width:1140px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.logo{
    width:auto;
    height:100px;
    float:left;
    margin-top:20px;
}
.main-nav{
    float:right;
    list-style-type: none;
    margin-top:55px;
}
.main-nav li{
    display: inline-block;
    margin-left:40px;
}
.main-nav li a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
    padding:8px 0;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid var(--main-color);
}

/*----------Meal Section------------*/
.section-meals{
    padding: 0px;
}
.meal-gallery{
    width: 100%;
    list-style: none;
}
.meal-gallery li{
    display: block;
    float: right;
    width: 25%;  
}
.meal-photo{
    width: 100%;
    margin:0;
    overflow:hidden;
    background-color:black;
}
.meal-photo img{
    opacity:60%;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition:transform 0.5s,opacity 0.5s;
} 
.meal-photo img:hover{
    transform: scale(1.03);
    opacity:1;
} 

/*----------How it work Section------------*/
.section-step{
    background-color: #d1c9c9dc;
    overflow: auto;
}
.step-box:first-child{
    margin-top: 30px;
    text-align: right;
    padding-right: 3%;
}
.step-box:last-child{
    margin-top: 70px;
    padding-left: 3%;
}
.app-screen{
    width: 40%;
}
.work-step{
    margin-bottom: 50px;
}
.work-step div{
    display: inline-block;
    color:var(--main-color);
    border: 2px solid var(--main-color);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    float:left;
    margin-right: 5px;
}
.btn-app img{
    height:50px;
    width:auto;
    margin-right: 10px;
}
.work-step:last-of-type{
    margin-bottom:80px;
}

/*----------City Section------------*/
 .box img{
    width:100%;
    height: auto;
    margin-bottom: 15px;
 }
 .city-feature{
    margin-bottom: 15px;
 }
 .icon-small{
    font-size: 120%;
    color:var(--main-color);
    display: inline-block;
    text-align: center;
    width: 30px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
 }
 .city-twitter{
    text-decoration: none;
    color:var(--main-color);
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
    transition: border-bottom 0.5s, color 0.5s;
 }
 .city-twitter:hover,
 .city-twitter:active{
    color:black;
    border-bottom: 1px solid var(--main-color);
 }

 /*----------Testimonial Section------------*/
 .section-testimonial{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/back-customers.jpg);
    background-size: cover;
    background-position: center;
    color:white;
    background-attachment: fixed;
 }
 blockquote{
    font-style:italic;
    padding: 2%;
    line-height: 145%;
 }
 blockquote::before{
    content:open-quote;
    font-size: 400%;
 }
 blockquote::after{
    content:close-quote;
    color:transparent;
    height: 0;
 }
 cite{
    font-size: 90%;
    margin-top: 25px; 
    display: block;
 }
 cite img{
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
 }

 /*----------Sign up Section------------*/
 .section-plan{
    background-color: rgba(182, 174, 174, 0.904);
 }
 .plan-box{
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: 8px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 1px 2px 2px var(--second-color);
 }
 .plan-box div{
    padding:15px;
    border-bottom: 2px solid var(--main-color);
 }
 .plan-price{
    font-size: 300%;
    font-weight: 100;
    margin-bottom: 10px;
    color:var(--second-color);
 }
 .plan-price span{
    font-size: 30%;
    font-weight: 300;
 }
 .plan-price-meal{
    font-size: 90%;
 }
 .plan-box ul{
    list-style-type: none;
 }
 .plan-box ul li{
    padding: 5px 0;
}
 .plan-box div:first-child{
    text-align: center;
 }
 .plan-box div:last-child{
    border-bottom: 0;
 }

  /*----------Contact Section------------*/
  .contact-form{
    width:60%;
    margin:0 auto;
  }
  input[type=text],
  input[type=email],
  select,textarea{
    width:100%;
    padding: 7px;
    border-radius: 5px;
    border:1px solid var(--second-color);
  }
  textarea{
    height:100px;
  }

  input[type=checkbox]{
    margin-right: 10px 5px 10px 0;
  }
  *:focus{
    outline: none;
  }

  /*----------footer Section------------*/
  footer{
    background-color:rgba(19, 7, 7, 0.842);
  }
  .footer-nav{
    list-style-type: none;
    float:left;
  }
  .social-link{
    list-style-type: none;
    float:right;
  }
  .footer-nav li,
  .social-link li{
    display: inline-block;
    margin-right: 20px;
  }
  .footer-nav li:last-child,
  .social-link li:last-child{
    margin-right: 0;
  }
  .footer-nav li a,
  .social-link li a{
    text-decoration: none;
    border-bottom: 0;
    color:gray;
  }
  .footer-nav li a:hover,
  .social-link li a:hover{
    color:whitesmoke;
  }
  .social-link li a{
    font-size:150%;
  }
  footer p{
    text-align: center;
    color:gray;
    font-size: 90%;
    margin-top:30px;
    padding:40px;
  }